<div class="register-component">
  <mat-card>
    <mat-card-header class="padding-g">
      <mat-card-title>Cadastro de Usuário</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field class="full-width">
          <mat-label>Nome Completo</mat-label>
          <input matInput formControlName="fullName" placeholder="Insira seu nome completo" />
          @if (fullNameError) {
            <mat-error>{{ fullNameError }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Insira seu email" />
          @if (emailError) {
            <mat-error>{{ emailError }}</mat-error>
          }
        </mat-form-field>
        <input-password-field [control]="passwordControl"></input-password-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button matButton="filled" class="full-width" [disabled]="form.invalid" (click)="submit()">
        Cadastrar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
