.app-top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-top-menu .logo {
  display: flex;
  align-items: center;
}

.app-top-menu .logo-img {
  height: 60px;
  width: auto;
  max-width: 100%;
  display: block;
}

.app-top-menu .spacer {
  flex: 1 1 auto;
}

.app-top-menu a {
  text-decoration: none;
  margin: 0 8px;
}

.app-top-menu button {
  border-radius: 0px;
  height: 100%;
}

.user-avatar {
  background-color: rgb(56, 83, 254);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
